body {
    font-family: "Georgia", serif;
    background-color: #fdf6ee; /*kildehenvisning: https://chatgpt.com/c/69139b22-b36c-832a-a53f-4265d8614248*/
    margin: 0;
}

/*----------------nav section----------------*/

header {
    background-color: #F5F1EC;
    display: flex;
    align-items: center; /*note: logo og h3 centreres midt på aksen*/
    justify-content: space-between;
    border-bottom: 1px solid #eee; /*note: den grå streg under header*/
    position: sticky; /*note: header bliver selvom scroll - hører sammen med top*/
    top: 0; /*note: placerer header fast øverst*/
    padding: 20px; /*note: giver luft*/
}

.nav-container {
    display: flex;
    align-items: center;
}

h3 {
    font-size: 1.2rem;
    margin-left: 60px;
}

a {
    font-size: 1.2rem;
    margin-right: 80px;
}


/*----------------main section----------------*/
h1 {
    text-align: center; /*note: centrerer h1*/
    margin-top: 80px;
    font-size: 2.5rem;
    margin-bottom: 60px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

ul {
    margin-bottom: 80px;
}

li {
    margin: 25px;
    font-size: 1.3rem;
}

/*note: vi bruger main for at placerer sektionerne lodret*/
main {
    display: flex;
    flex-direction: column; /*note: lægger sektionerne under hinanden, fra top til bund */
    margin: 50px auto;
    max-width: 1200px; /*note: gør at indholdet ikke fylder hele skærmen */
}

/*--graf 1 om musikgenre--*/

.genre {
    display: flex; /*note: lægger tekst og graf ved siden af hinanden*/
    flex-direction: row;
    background: white;
    border-radius: 20px;
    overflow: hidden; /*note: gemmer indhold, der stikker ud*/
    margin-bottom: 120px; /*note: laver luft mellem de to sektioner*/
}

.text-genre {
    background-color: #23206e;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column; /*note: lægger h2 og p under hinanden */
    justify-content: center; /*note: centrerer h2 og p*/
    width: 50%;
}

.text-genre h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.text-genre p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.chart-genre {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 15px;
    width: 50%;
}

/*--graf 2 om tracks--*/

.tracks {
    display: flex; /*note: lægger tekst og graf ved siden af hinanden*/
    flex-direction: column; /*note: giver begge sider samme højde/bredde*/
    background-color: white;
    border-radius: 20px;
    overflow: hidden; /*note: gemmer indhold, der stikker ud*/
}

.text-tracks {
    background-color: #23206e;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-tracks h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.text-tracks p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.chart-tracks {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 50px;
}

/*--opsummering--*/
.summary h2 {
    margin-top: 100px;
}

.summary p {
    margin-bottom: 50px;
}

/*--footer--*/

footer {
    background-color: #F5F1EC;
    padding: 40px;
    margin-top: 35px;
}

footer h3 {
    font-size: 1.4rem;
    margin-bottom: 35px;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 25px;
    font-size: 1rem;
}

/*--style af knap--*/
a {
    padding: 8px 14px;
    border-radius: 6px;
    background: #23206e;
    color: #F5F1EC;
    text-decoration: none;
}

a:hover {
    background-color: #121242;
    font-size: 1.3em;
}
