body {
    font-family: "Georgia", serif;
    background-color: #fdf6ee; /*kildehenvisning: https://chatgpt.com/c/69139b22-b36c-832a-a53f-4265d8614248*/
    margin: 0;
}

/*----------------nav section----------------*/

header {
    background-color: #F5F1EC;
    display: flex;
    align-items: center; /*note: logo og h3 centreres midt på aksen*/
    justify-content: space-between;
    border-bottom: 1px solid #eee; /*note: den grå streg under header*/
    position: sticky; /*note: header bliver selvom scroll - hører sammen med top*/
    top: 0; /*note: placerer header fast øverst*/
    padding: 20px; /*note: giver luft*/
}

.nav-container{
    display: flex;
    align-items: center;
}

h3{
    font-size: 1.2rem;
    margin-left: 60px;
}

a{
    font-size: 1.2rem;
     margin-right: 80px;
}



/*----------------main section----------------*/
h1 {
    text-align: center; /*note: centrerer h1*/
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 100px; /*note: luft under h1 */
    font-size: 2.5rem;
}

/*note: vi bruger main for at placerer sektionerne lodret*/
main {
    display: flex;
    flex-direction: column; /*note: lægger sektionerne under hinanden, fra top til bund */
    gap: 120px; /*note: laver luft mellem de to sektioner*/
    margin: 50px auto; 
    max-width: 1200px; /*note: gør at indholdet ikke fylder hele skærmen */
}

/*--graf 1 om musikgenre--*/

.genre {
    display: flex; /*note: lægger tekst og graf ved siden af hinanden*/
    align-items: stretch; /*note: giver begge sider samme højde/bredde*/
    background: white;
    border-radius: 20px;
    overflow: hidden; /*note: gemmer indhold, der stikker ud*/
    height: 400px;
}

.text-genre {
    background-color: #23206e; 
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column; /*note: lægger h2 og p under hinanden */
    justify-content: center; /*note: centrerer h2 og p*/
}
.text-genre h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.text-genre p {
    font-size: 1rem;                
}

.chart-genre {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 80px;
}
/*--graf 2 om tracks--*/

.tracks{
    display: flex;  /*note: lægger tekst og graf ved siden af hinanden*/
    flex-direction: column;   /*note: giver begge sider samme højde/bredde*/
    background-color: white;
    border-radius: 20px;
    overflow: hidden;    /*note: gemmer indhold, der stikker ud*/
}

.text-tracks{
    background-color: #23206e;
    color: white;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-tracks h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.text-tracks p{
    font-size: 1rem;
}

.chart-tracks{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 80px;
}


/*--footer--*/

footer{
    background-color: #F5F1EC;
    padding: 40px;
    margin-top: 35px;
}

h3{
font-size: 1.4rem;
margin-bottom: 35px;
          
}

ul{
    list-style: none;
}

li{
    margin: 25px;
    font-size: 1rem;
}
